body {
  background-color: #fff;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

nav {
  background-color: #FF3B30;
  width: 100%;
  height: 135px;
  position: fixed;
  z-index: 1;
}

ul {
    list-style-type:none;
}

nav li {
  display: inline-block;
  margin-right: 18%;
}

nav h1 {
  font-family: 'Righteous', cursive;
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-top: 4%;
  margin-bottom: 7%;
  margin-left: 10%;
}

#arrow {
}

#search_bar {
  margin-left: 2%;
}

.map {
  position: fixed;
  top: 135px;
  width: 100%;
  z-index: 1;
}

.route_header {
  height: 30px;
  width: 180%;
  background-color: #FF3B30;
  position: fixed;
  top: 350px;
  z-index: 1;
}

.route_header li {
  display: inline-block;
  margin-left: 1%;
  margin-right: 24%;
  margin-top: 1%;
}

h2{
  font-family: 'Roboto', sans-serif;
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: 700;
  margin-left: 2%;
}


h3 {
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  margin-left: 2%;
  margin-right: 0%;
  margin-top: 3%;
}

h4 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-top: 6%;
}

table {
  top: 380px;
  position: relative;
  margin-bottom: 70px;
}

th {
  border-bottom: 1px solid #DADADA;
  width: 65%;
  text-align: left;
  line-height: 20px;
}

footer {
  height: 70px;
  background-color: #FF3B30;
  bottom: 0;
  position: fixed;
  width: 120%;
}

footer li {
  display: inline-block;
  margin-left: 2%;
  margin-right: 10%;
  margin-top: 3%;
}
